html,
body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

#header{
    padding-top: 20px;
    margin: 0px;
    background-color: bisque ;
    background-size: cover;
    height: 100vh;
   


}